body {
  height: 100%;
  background-color: white;
  cursor: default;
}

.headButton {
  position: relative;
  display: inline-block;
  background: lightblue;
  border: 1px solid #99d3f5;
  border-radius: 4px;
  padding: 4px 12px;
  overflow: hidden;
  color: white;
  text-decoration: none;
  text-indent: 0;
  line-height: 0rem;
  cursor: pointer;
  box-shadow: 0.1rem 0.1rem 0.5rem lightgray;
}

.headButton:hover {
  background-color: rgb(173, 216, 250);
}

.headButton input {
  position: absolute;
  font-size: 2rem;
  right: 0;
  top: 0;
  opacity: 0;
}

.alignLeft {
  text-align: left;
}
.floatRight {
  float: right;
}

#attributes {
  min-height: 30rem;
  box-shadow: 0rem 0rem 1rem lightgrey;
}

.sticky-window {
  position: fixed;
  width: 18rem; /*Adjust as needed */
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  z-index: 900; /* Ensure it stays on top */
}

#tags {
  margin-left: 20rem;
  right: 0.5rem;
  min-width: 40rem;
  top: 0.5rem;
  bottom: 0rem;
  overflow: auto;
  min-height: 30rem;
  box-shadow: 0 0 1rem lightgrey;
}

#tags::-webkit-scrollbar {
  width: 0.4rem;
  height: 0.4rem;
}
#tags::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background-color: lightblue;
}
#tags::-webkit-scrollbar-track {
  border-radius: 0.5rem;
  background-color: white;
}

.winTitle {
  line-height: 2rem;
  font-size: 1rem;
  padding: 0;
  background-color: lightblue;
  color: white;
}

/* tag cards style */
.tagCard {
  height: 2.3rem;
  text-align: left;
  line-height: 2.3rem;
  font-size: 1.2rem;
  margin: 0rem 1rem 0.5rem 0rem;
  background-color: white;
  padding-left: 0.5rem;
  border-left: solid lightblue;
  box-shadow: 0 0 0.2rem lightgrey;
}
.tagCardSelected {
  background-color: rgb(220, 241, 245);
}

.cardText {
  height: 2.3rem;
  line-height: 2.3rem;
  margin: 0rem 0rem 0rem 1rem;
  display: inline-block;
}

/*fontawesome style*/
.fa {
  font-size: 1.2rem;
  font-weight: lighter;
  text-align: center;
  cursor: pointer;
  height: 2rem;
  width: 1.5rem;
  line-height: 2rem;
}
.fa:hover {
  color: gray;
}
.fa-close {
  float: right;
  margin-right: 0.2rem;
}
.fa-edit {
  float: right;
}

.fa-plus {
  color: gray;
}
.fa-plus:hover {
  color: lightgray;
}
#newAttribute .fa-check {
  color: gray;
}
.tagCard .fa-close {
  color: lightblue;
}
.tagCard .fa-close:hover {
  color: rgba(0, 0, 0, 0.4);
}
.tagCard .fa-plus {
  height: 2.3rem;
  line-height: 2.3rem;
  float: left;
}
.tagCard .fa-caret-right {
  height: 2.3rem;
  line-height: 2.3rem;
  float: left;
  color: gray;
}
.tagCard .fa-caret-down {
  height: 2.3rem;
  line-height: 2.3rem;
  float: left;
  color: gray;
}

.text-container {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  line-height: 2.3rem;
}

/*attributes item style*/
#attributeList {
  margin-left: 0.5rem;
}
.attributeDiv p {
  border-left: solid lightblue;
  padding-left: 0.5rem;
  margin-right: 0.5rem;
  padding-right: 0.5rem;
  height: 2rem;
  line-height: 2rem;
  max-width: 12.5rem;
  text-overflow: ellipsis;
  overflow-x: hidden;
  white-space: nowrap;
}
.attributeDiv:hover {
  background-color: rgba(173, 216, 230, 0.8);
}
.attributeDiv p {
  margin: 0rem;
}
.tagCard * svg {
  width: 1.2rem; /* Adjust the width and height as needed */
  height: 1.2rem !important;
}

.tagCard i {
  vertical-align: super;
  display: inline-flex;
}

.grayColor {
  color: lightgray;
  font-size: smaller;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;

  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  display: flex;
  flex-direction: column;
  background: white;
  padding: 3px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.top-right-text {
  text-align: right;
  width: 100%;
  cursor: pointer;
  margin-right: 1rem;
}

.controls {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.controls div {
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.mLabel {
  width: 100px;
  height: 20px;
}

.mControl {
  width: 180px;
  height: 20px;
}